{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ range .Data.Pages }}
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    <div class="blog-content">
                        <h4 class="blogpost-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h4>
                        <div class="blog-meta">
                            <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
                            {{ with .Params.author }}<span>by
                                {{ . }}
                            </span>
                            {{ end }}
                        </div>
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}